@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
body{
    margin: 0px;
    padding: 0px;
}


@media(min-width: 311px )
{
.wewe{position: relative;
    background: #000000;
    border: 1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
height: 731px;
margin: 0px;
    


}
.if{
    margin:0px;
    
position: absolute;
width: 1211px;
height: 25px;
left: 5px;
top: 5px;

font-family: 'Metal Mania', cursive;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 25px;
letter-spacing: 0.02em;

color: #FFFBFB;

border: 1px solid #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.trend{
    
    position: absolute;
width: 2418px;
height: 40px;
left: 5px;
top: 13px;

/* Header 1 */

font-family: Work Sans;
font-style: normal;
font-weight: bold;
font-size: 34px;
line-height: 40px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: -0.02em;

color: #FFFCFC;
}
.main{display: flex;}

.box1{position: absolute;
    width: 107px;
    height: 107px;
    left: 18px;
    top: 110px;
    
    background: url(https://lh3.googleusercontent.com/r7Zud63EbAR1-8zendC8cmffZsXgj3G6s0mtkVJOTnJFaA-dUaGAWECqGTRbiXlKdSwRifZJ1YmpBeix=w60-h60-l90-rj)
    ;
  
    border-radius: 8px;}
.box2{/* Rectangle 5 */


    position: absolute;
    width: 107px;
    height: 107px;
    left: 143px;
    top: 109px;
    
    background: url(https://i.ytimg.com/vi/GG7UUQ7IJDo/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAETqB5aZx3AbITF71jbB0RXu0zMw);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 7px;}
.box3{position:relative;
    width: 107px;
    height: 107px;
    left: 267px;
    top: 109px;
    
    background:url(https://yt3.ggpht.com/ytc/AKedOLT6GLh1dxDmW0xOlox2a_wbxA7YPA0AGuXk6F3YHQ=s176-c-k-c0x00ffffff-no-rj)center;
    box-shadow: 2px 4px 7px 1px rgba(0, 0, 0, 0.3);
    border-radius: 5px;}



}